<%- include('./footer_text_wrap'); %>
 
 <div  data-top-nav="" class="w3-padding w3-blue">
        <a href="/" class="w3-btn w3-black" title="sxm-massage-mobile-home">home</a>
        <a href="http://sxm-service.com/" class="w3-btn w3-black" title="st maarten/SXM concierge service">concierge service</a>
        <a href="/menu-options" class="w3-btn w3-black" title="menu massage options">menu</a>
        <a href="/bookNow" class="w3-btn w3-black" title="book a massage in st martin">book a massage now</a>
      </div>