<%- include('./footer_text_wrap'); %>
 
 <div  data-top-nav="" class="w3-padding w3-blue">
        <a href="/" class="w3-btn w3-black" title="">home</a>
        <a href="/about-us" class="w3-btn w3-black" title="">about</a>
        <a href="/menu-options" class="w3-btn w3-black" title="">menu</a>
        <a href="/bookNow" class="w3-btn w3-black" title="">booking</a>
      </div>