<div id="" data-slide="">
    <div class="w3-row w3-purple">
        <div class="w3-s3"><%= textSlide_arr.loc %></div>
    <div class="w3-s8"><%= textSlide_arr.desc %></div>
    </div>
    
    
</div>