<div data-tempNav=""> 
    <span class="hm_hlder"><a title="homePage" href='/'><%= t_nav[0] %></a> </span>
    <span class="cat_hlder"><a title="menu-options" href='/menu-options'><%= t_nav[1] %></a> </span>
    <span class="cuurentPage"><%= t_nav[2] %>


    </span>    </div>