 <div data-top-nav="" id="top"class="w3-blue w3-pading">

        <a data-link="" href="/" class="w3-btn w3-black" title="st-martin-massage-home">Home</a>
        
        <a data-link="" href="/about-us" class="w3-btn w3-black" title="about-us-page">About</a>
        <a data-link="" href="/for-couples" class="w3-btn w3-black" title="best couples massage sxm">For Couples</a>
        <a data-link="" href="/group-package-deals" class="w3-btn w3-black" title="affordable group massage deals">Group Deals</a>
        <a data-link="" title="sxm massage option menu" href="/menu-options" class="w3-btn w3-black" title="">View Complete menu </a>
        <a data-link="" title="book now page" href="/bookNow" class="w3-btn w3-black" title="">Book Now</a>
      </div>